################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Mud.CodeGenerator/CopilotIndices/17.14.1231.31060
/.vs/Mud.CodeGenerator/DesignTimeBuild
/.vs/Mud.CodeGenerator/FileContentIndex
/.vs/Mud.CodeGenerator/v17
/.vs/ProjectEvaluation
/bin/Debug/netstandard2.0
/Core/Mud.EntityCodeGenerator/obj
/Core/Mud.ServiceCodeGenerator/obj
/bin/Debug
/Test/Mud.Common.CodeGenerator/bin/Debug
/Test/Mud.Common.CodeGenerator/obj
/Test/CodeGeneratorTest/bin/Debug
/Test/CodeGeneratorTest/obj
/.vs/Mud.CodeGenerator/CopilotIndices/17.14.1147.5054
/.vs
/Test/CodeBaseTest/bin/Debug
/Test/CodeBaseTest/obj
/Test/DebugTest/bin/Debug/net8.0
/Test/DebugTest/obj
/Test/TestBuilderGenerator/bin/Debug
/Test/DebugTest/bin/Debug
/Test/TestBuilderGenerator/obj
/obj
/Test/PublicPackageTest/bin/Debug
/Test/PublicPackageTest/obj
/bin/Release/netstandard2.0
/Test/CodeBaseTest/bin/Release
/Test/CodeGeneratorTest/bin/Release
/Test/Mud.Common.CodeGenerator/bin/Release
/Test/PublicPackageTest/bin/Release/net10.0
/Test/PublicPackageTest/bin/Release
